# Dependencias
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Archivos de construcción
.next
out
dist
build

# Archivos de desarrollo
.git
.github
.vscode
.idea
*.md
!README.md

# Archivos de entorno (excepto los de producción)
.env.local
.env.development
.env.test

# Archivos de caché
.turbo
.cache

# Archivos de prueba
__tests__
*.test.js
*.spec.js
coverage

# Otros archivos innecesarios
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
